.topBar {
    height: 50px;
}

.topBar ul {
    float: right;
    text-align: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.topBar li {
    float: left;
    margin-right: 25px;
}

.topBar li:hover {
    text-decoration: underline;
}

.mapView {}

.inputBar {
  padding-left: 10%;
  padding-top: 20%;
  text-align: left;
  background-color: lightgrey;
  height: 200vh;
}

.inputBar input {
  width: 120px;
  height: 30px;
}

.inputBar input[type=text]:focus {
    border: 3px solid #555;
}

.currentCityEdit {
  padding-left: 10%;
}

.inputButton {
  align-items: center;
  text-align: center;
  padding-right: 20%;
}

.hiddenTags {
  float: right;
  text-align: center;
  margin-top: 30px;
  z-index: 3;
  background-color: lightgrey;
  position: absolute;
  right: 110px;
}

.editEvent:hover {
  text-decoration: underline;
}

.clicked:hover {
  text-decoration: underline;
}

.eventView {
  background-color: lightgrey;
  padding-top: 4px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.eachCity {
  padding: 12px;
}

.allCity {
  margin-top: 2%;
  padding-left: 15%;
  margin-left: 15%;
}




